﻿@model IEnumerable<Noombu.DAL.Model.PostModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Postid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Postid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Postid })
        </td>
    </tr>
}

</table>
