﻿@model Noombu.DAL.Model.GroupModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GroupModel</legend>

    <div class="display-label">
     <strong>    @Html.DisplayNameFor(model => model.Name)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
      <div class="display-label">
        <strong> @Html.DisplayNameFor(model => model.UsersGroup)</strong>
    </div>
  
    @if (Model.UsersGroup!=null)
    {
        foreach (var item in Model.UsersGroup)
        {

            <div class="display-field">
                @Html.DisplayFor(modelItem => item.UserName)
            </div>
        }
    }
  
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
