﻿@model IEnumerable<Noombu.DAL.Model.GroupModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupId })
            
                <br/>
                <a href="/Group/join/ @{
                                           @Html.DisplayFor(modelItem => item.GroupId)
                                       }
                    ">
                    @if (item.UsersGroup.Where(l => l.UserName == User.Identity.Name).Count()==0)
                    {
                        <button>Join</button>
                    }
                    else{
                    <button>unjoin</button>
                    }
                  
                </a>
        </td>
    </tr>
}

</table>
