﻿@model List<Noombu.DAL.Model.UserProfile>

@{
    ViewBag.Title = "title";
  
}


    <h2>Co-Workers</h2>
    <table>
        @foreach (var item in Model)
        {
             if (!item.EmailAdress.IsEmpty())
                    {
            <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td> 
                <td>
                    <a href="/Account/Follow/ @{
                                                  @Html.DisplayFor(modelItem => item.UserId)
                                              }
                                ">
                        
                        @if (item.Following.Where(l => l.UserName == User.Identity.Name).Count() == 0)
                        {
                            <button>Follow</button>
                        }
                        else
                        {
                            <button>Unfollow</button>
                        }
                  
                        </a>
                   </td>
                </tr>
            }
        }
    </table>
  
