﻿@model System.Collections.Generic.List<Noombu.DAL.Model.GroupModel>

@{
    ViewBag.Title = "title";
   
}

<h2>Groups</h2><a href="/Group/Create"> <br /><button>Create Group</button></a><br />

<table>
   
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>                        
               
            <a href="/Group/join/@{
                                     @Html.DisplayFor(modelItem => item.GroupId)
                                 }
                    ">
                @if (item.UsersGroup.Where(l => l.UserName == User.Identity.Name).Count()==0)
                {
                    <button>Join</button>
                }
                else{
                    <button>unjoin</button>
                }
                  
            </a >
                <a href="/Group/Delete/@{
                                           @Html.DisplayFor(modelItem => item.GroupId)
                                       }
                    ">
                    @if (item.GroupOwner.UserName==User.Identity.Name)
                    {
                        <button>Delete Group</button>
                    }                                     
                </a>

        </td>
    </tr>
}

</table>