﻿@model List<Noombu.DAL.Model.PostModel>

<h2>Search for "<strong>@ViewBag.Message</strong>"</h2>
<br />
<br/>
@foreach (var item in Model)
            {

                 <strong class="Mauve">@Html.DisplayFor(modelItem => item.UserProfile.UserFirstName) @Html.DisplayFor(modelItem => item.UserProfile.UserLastName)</strong> <br/>
                @Html.DisplayFor(modelItem => item.Content)
            @*<img height="100" width="100" src ="../../Images/logo.PNG"/>*@

                <br/>
                <a href="../Post/Like/ @{
                                           @Html.DisplayFor(modelItem => item.Postid)
                                       }
                    ">
                    
                    @{
                        var firstOrDefault = item.Likers.FirstOrDefault(l => l.UserName == User.Identity.Name);

                        if (firstOrDefault != null && firstOrDefault.UserName == User.Identity.Name)
                        {
                            <i>unlike</i>
                        }
                        else
                        {
                            <i>like</i>
                        }
                    }
                </a>
                <i>@Html.DisplayFor(modelItem => item.Likers.Count)</i>
                if (item.UserProfile.UserName == @User.Identity.Name)
                {
                    <a href="../Post/Delete/ @{
                                                 @Html.DisplayFor(modelItem => item.Postid)
                                             }
                    ">delete</a>
                }<br />
                  <hr />        
            }
