﻿@model System.Collections.Generic.List<Noombu.DAL.Model.UserProfile>

<h2>Search for "<strong>@ViewBag.Message</strong>"</h2>

  <table>
        @foreach (var item in Model)
        {
            <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td> 
                <td>
                    <a href="/Account/Follow/ @{
                                                  @Html.DisplayFor(modelItem => item.UserId)
                                              }
                                ">
                        
                        @if (item.Following.Where(l => l.UserName == User.Identity.Name).Count() == 0)
                        {
                            <button>Follow</button>
                        }
                        else
                        {
                            <button>Unfollow</button>
                        }
                  
                        </a>
                   </td>
                </tr>            
        }
    </table>
  